@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-montserrat: var(--font-montserrat);
  --font-monda: var(--font-monda);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(12.133% 0.03603 251.743);
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground); 
  user-select: text;
}

::selection {
  background-color: oklch(80.9% 0.105 251.813);
  color: #141212;
}
